<div class="row justify-content-center my-5">
  <div class="col-lg-3">
    <h2 class="mb-2">New media Form</h2>
    <form [formGroup]="newMediaForm" (ngSubmit)="addMedia()" id="newMediaForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" cols="30" rows="10" formControlName="description"></textarea>
      </div>
      <div class="mb-3">
        <label for="mediaType" class="form-label">Media type</label>
        <select class="form-select" id="mediaType" formControlName="mediaType">
          <option value=""></option>
          <option value="0">Movie</option>
          <option value="1">TV show</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="releaseDate" class="form-label">Release date</label>
        <input type="date" min="1000-01-01" max="9999-12-31" class="form-select" id="releaseDate"
          formControlName="releaseDate">
      </div>
      <div class="mb-3">
        <label for="imageUpload" class="form-label">Cover image</label>
        <input type="file" class="form-select" name="" id="imageUpload" (change)="onFileChange($event)">
      </div>
      <div class="alert alert-secondary" role="alert">
        Every media must have at least 2 actors.
      </div>
      <button type="submit" [disabled]="newMediaForm.invalid" class="btn btn-primary">Add new media</button>

      <div class="alert alert-success mt-2 d-none text-center newMediaInfo" role="alert">
        Media added
      </div>
    </form>
  </div>
  <div class="col-lg-3">
    <h2 class="mb-3">Assign actors to media</h2>
    <div class="mb-3">
      <ng-container *ngFor="let actor of actors">
        <p>
          <input type="checkbox" class="form-check-input me-1 actorCheckbox" (click)="selectActors($event, actor.id)"
            id="actor{{actor.id}}" value="{{actor.id}}">
          <label class="form-check-label" for="actor{{actor.id}}">{{actor.name}} {{actor.surname}}</label>
        </p>
      </ng-container>
    </div>
  </div>
  <div class="col-lg-3">
    <h2 class="mb-3">Add new actors</h2>
    <form [formGroup]="newActorForm" (ngSubmit)="addActor()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="surname" class="form-label">Surname</label>
        <input type="text" class="form-control" id="surname" formControlName="surname">
      </div>
      <button type="submit" [disabled]="newActorForm.invalid" class="btn btn-primary">Add new actor</button>
    </form>
    <div class="alert alert-success mt-2 d-none text-center newActorInfo" role="alert">
      Actor added
    </div>
  </div>
</div>
