.span-container {
  position: relative;
  display: flex;
  width: 90px;
}

.span-container .star-span {
  z-index: 0;
  background: white;
}

.span-container .cover-span {
  height: 24px;
  z-index: 2;
  position: absolute;
  right: 0;
  background: white;
}
